{% extends 'flatpages/default.html' %}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {% block content %}
        <h3>Обо мне</h3>
        <img src="https://i.pinimg.com/564x/6a/29/bf/6a29bf188e9496eee82214cdd2efbca7.jpg" alt="обо мне">
        <p>Я живу в промышленно-производственном городе Екатеринбурге.
            Многие районы в нем названы как заводы. Но пару лет назад мы переехали из одного из таких в Парковый
            район. Мы живем в окружении нескольких крупных парков и скверов. Украшение нашей квартиры -
            большие деревянные окна. После переезда мне сразу захотелось впустить в пустую безжизненную
            квартиру больше живой природы. Начав с большого фикуса, который предыдущие жильцы не смогли увезти
            при переезде, я собрала более 30 разных горшочков, украшающих наш дом.
        </p>
    {% endblock content %}
</body>
</html>