{% extends 'flatpages/default.html' %}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {% block content %}
        <h3>Контакты</h3>
        <p> Посмотреть на мой домашний сад и задать вопрос вы можете в социальных сетях.</p>
            <hr>
                <div class="picture">
                    <a href='https://www.pinterest.ru/gariaevaal/'><img src="https://cdn-icons-png.flaticon.com/512/220/220214.png" alt="Pinterest"width="50" height=50"></a>
                    <a href='https://vk.com/plutoplanet'><img src="https://i.pinimg.com/564x/39/65/c2/3965c2071c9a7f613ac184dce1c9359f.jpg" alt="Vk"width="50" height=50"></a>
                </div>
    {% endblock content %}
</body>
</html>