<!DOCTYPE html>
<html lang="en">
    <head>
        <title> MyHobby </title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>

    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Моё хобби</h1>
            </div>
            <nav>
            <ul class="navigation">
                <a href="/hobby/"><li>Главная</li></a>
                <a href="/about/"><li>Обо мне</li></a>
                <a href="/contacts/"><li>Обратная связь</li></a>
            </ul>
            </nav>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>

