{% extends 'flatpages/default.html' %}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {% block content %}
        <h3> Комнатное растениеводство</h3>
        <img src="https://i.pinimg.com/564x/a6/c6/73/a6c673a69692fab3445c077cb3f28109.jpg" alt="Монстера">
        <p> У меня несколько хобби, к которым я то возвращаюсь, то оставляю.
            Но комнатные растения - это то увлечение, которое является частью моей жизни уже много лет.
            Уход за комнатными растениями сейчас достаточно популярное увлечение.
            Есть возможность обмениваться горшочками с друзьями, ходить на цветочные ярмарки или свопы.
            Мои растения можно разделить на три группы:
            декоративно-лиственные для комнат, пряные травы для кухни и цветущие ампельные для балкона.
            Каждую весну я готовлю рассаду для украшения балкона в теплый сезон.
            Также весной и летом я покупаю новые растения для своей постоянной коллекции декоративно-лиственных растений,
            и пересаживаю цветы подросшие за год. Комнатное растениеводство - это приятная рутина и
            отличный способ украсить интерьер.
        </p>
    {% endblock content %}
</body>
</html>